Characterstics of a List
Ordered
Changeble/Mutable
Hetrogeneous
Can have duplicates
are dynamic
can be nested
items can be accessed
can contain any kind of objects in python

In [1]:
# Empty
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

In [6]:
l1=[[[1,2],[9,0],[3,4]],[[5,6],[7,8]]]
print(l1[0][1][0])

9

In [11]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#negative
print(L[0][-1][-2])

3

In [20]:
# Slicing
L = [1,2,3,4,5,6]
print(L[1:])
print(L[1:5])
print(L[:4])
print(L[1::2])
print(L[::2])
print(L[::-1])#reverse List

[2, 3, 4, 5, 6]
[2, 3, 4, 5]
[1, 2, 3, 4]
[2, 4, 6]
[1, 3, 5]
[6, 5, 4, 3, 2, 1]

In [21]:
L

[1, 2, 3, 4, 5, 6]

In [25]:
L.append(90)
L

[1, 2, 3, 4, 5, 6, 90, 90, 90, 90]

In [27]:
L.append("Hello")
L

[1, 2, 3, 4, 5, 6, 90, 90, 90, 90, 'Hello', 'Hello']

In [28]:
L.append([9,0,90,909090])
L

[1, 2, 3, 4, 5, 6, 90, 90, 90, 90, 'Hello', 'Hello', [9, 0, 90, 909090]]

In [29]:
L.extend([9,9,9,9])
L

[1,
 2,
 3,
 4,
 5,
 6,
 90,
 90,
 90,
 90,
 'Hello',
 'Hello',
 [9, 0, 90, 909090],
 9,
 9,
 9,
 9]

In [30]:
L.extend("hello")
L

[1,
 2,
 3,
 4,
 5,
 6,
 90,
 90,
 90,
 90,
 'Hello',
 'Hello',
 [9, 0, 90, 909090],
 9,
 9,
 9,
 9,
 'h',
 'e',
 'l',
 'l',
 'o']

In [31]:
L.insert(1,7)
L

[1,
 7,
 2,
 3,
 4,
 5,
 6,
 90,
 90,
 90,
 90,
 'Hello',
 'Hello',
 [9, 0, 90, 909090],
 9,
 9,
 9,
 9,
 'h',
 'e',
 'l',
 'l',
 'o']

In [34]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500
L

[1, 2, 3, 4, 500]

In [35]:

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400, 500]

In [36]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]
print(L)

[1, 4]

In [37]:
# remove

L = [1,2,3,4,5]

L.remove(5)

print(L)

[1, 2, 3, 4]

In [38]:
# pop
L = [1,2,3,4,5]

L.pop()

print(L)

[1, 2, 3, 4]

In [39]:
# clear
L = [1,2,3,4,5]

L.clear()

print(L)

[]

Operations on Lists
Arithmetic
Membership
Loop

In [40]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
print(L1*5)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [42]:
#membership
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print([5,6] in L2)

False
True

In [45]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L2:
  print(i)

1
2
3
4
[5, 6]

In [44]:
# len/min/max/sorted
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [46]:
# count 
L = [1,2,1,3,4,1,5]
L.count(1)

3

In [47]:
# index
L = [1,2,1,3,4,1,5]
L.index(1)

0

In [48]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [51]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()#permanent
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [56]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))
L.append(9)
print(L1)
print(L)

[2, 1, 5, 7, 0]
2510848762304
[2, 1, 5, 7, 0]
2510848329024
[2, 1, 5, 7, 0]
[2, 1, 5, 7, 0, 9]

## List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]![image.png]()

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [57]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
L=[i for i in range(1,11)]
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
# [-6,-9,-12]
L1=[ s*i for i in v]
L1

[-6, -9, -12]

In [62]:
# Add squares
L = [1,2,3,4,5]
L=[i*i for i in L]
L

[1, 4, 9, 16, 25]

In [63]:
# Print all numbers divisible by 5 in the range of 1 to 50
L=[i for i in range(1,51) if i%5==0]
L

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [66]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']
l2=[i for i in languages if i.startswith("p")]
l2

['python', 'php']

In [68]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'
fruits=[i for i in my_fruits if i in basket  if i.startswith("a")]
fruits

['apple']

In [69]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
li=[[i*j for i in range(1,4) ] for j in range(1,4)]
li

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [73]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]
l3=[i*j for i in L1 for j in L2]
l3

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

2 ways to traverse a list
itemwise
indexwise

In [74]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [75]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(i)

0
1
2
3

In [81]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]
#zip
l3=list(zip(L1,L2))
l3

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [85]:
l4=[i+j for i,j in l3]
l4

[0, 0, 0, 0]

In [88]:
# Create 2 lists from a given list where 
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers 

L = [1,2,3,4,5,6]
# odd=L[::2]
# even=L[1::2]
# print(odd)
# print(even)
odd=[i for i in L if i%2==1]
even=[i for i in L if i%2==0]
print(odd)
print(even)

[1, 3, 5]
[2, 4, 6]

In [4]:
L2 = []
while True:
    op = input("enter num (or 'exit' to stop): ")
    if op.lower() == "exit":
        break
    try:
        num = float(op)  # or int(op) if you want only integers
        L2.append(op)
    except ValueError:
        print("Please enter a valid number")
print(L2)

Please enter a valid number
['1', '2', '4', '5']

In [8]:
# Write a program to merge 2 list without using the + operator
L1 = [1,2,3,4]
L2 = [5,6,7,8]
l3=L1.extend(L2)
L1

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
# Write a program to replace an item with a different item if found in the list 
L = [1,2,3,4,5,3]
# replace 3 with 300
L.insert(2,300)
L.pop(3)
L

[1, 2, 300, 4, 5, 3]

In [12]:
# Write a program that can convert a 2D list to 1D list
L2D = [[1,2,3], [4,5,6], [7,8,9]]
L1D=[i for i in L2D for i in i]
L1D

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# Write a program to remove duplicate items from a list

L = [1,2,1,2,3,4,5,3,4]
L=list(set(L))
print(L)

[1, 2, 3, 4, 5]